body
{
	font-family: "courier";
}
#top
{
	float: right;
}
ul
{
	list-style-type: none;
}
a
{
	color: inherit;
}
a:link
{
	text-decoration: none;
}
a:hover
{
    text-decoration: underline;
}
/*fuck instagram*/
.ig-b-
{
	display: inline-block;
}
.ig-b- img
{
	visibility: hidden;
}
.ig-b-:hover
{
	background-position: 0 -60px;
}
.ig-b-:active
{
	background-position: 0 -120px;
}
.ig-b-24
{
	width: 24px;
	height: 24px;
	background: url(http://static.wixstatic.com/media/cf1b8b_79a83f259d9f4139b9ffa272f76a0317.gif) no-repeat 0 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)
{
	.ig-b-24
	{
		background-image: url(http://static.wixstatic.com/media/cf1b8b_79a83f259d9f4139b9ffa272f76a0317.gif);
		background-size: 60px 178px;
	}
}
/*end fucking*/